<h1>Movies</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Director</th>
        <th>Image</th>
        <th>Duration</th>
        <th>Release Date</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
      <td class="align-middle">{{ movie.name }}</td>
      <td class="align-middle">{{ movie.director }}</td>
      <td class="align-middle"><a href="movie.imageUrl">Click to see image</a></td>
      <td class="align-middle">{{ movie.duration }}</td>
      <td class="align-middle">{{ movie.releaseDate }}</td>
      <td class="align-middle">
        <ul *ngFor="let genre of movie.genres">
          <li>{{ genre }}</li>
        </ul>
      </td>
      </tr>
    </tbody>
</table>
<router-outlet></router-outlet>